/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global variables */
:root{
    --main-bg-color: #275e9e;
    --white-text-color: #fff;
    --white-bg-color:#fff;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* 100% = 16px */
    font-size: 100%;

}

body{
    font-size: 1rem;
    background-color: lavender;
    
    height: 100vh;
    max-width: 420px;
   margin: auto;
   
}
#header{
    background-color: var(--main-bg-color);
    /* background-color: rgb(0, 38, 255,0.7); */
    background-repeat: no-repeat;
    color: var(--white-text-color);
    padding: 0;
    margin: 0;
    min-height: 174px;
    
}
#header>img{
    width: 100%;
    height: 50px;
    
}
#search{
    border-bottom: 1px solid var(--white-bg-color);
    padding: 4px 0;
    width: 100%;
}
#search>p{
    font-size: 1rem;
    padding: 0;
    margin: 0;

}
#avarta{

}
#avarta>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 10px 0;

}
#avarta>p{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

#main{
    padding: 20px;
    background-color: var(--white-bg-color);
    width: 100%;
    min-height: 500px;
    justify-content: space-between;
}


.qr-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}
#main .qr-block .qr-title>p{
    background-color: var(--main-bg-color);
    color: white;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 260px;
    font-weight: bold;
    margin: 0;
    padding: 4px 10px;
    text-align: center;
    line-height: 20px;
}
#main>.qr-block>.line-bottom{
    border-top: 3px solid var(--main-bg-color);
    width: 320px;
    
    padding: 0;
    margin: 0;
}
#main .qr .time{
    margin-top: 5px;
}
#main>.qr-block>.yello-dot{
    width: 5px;
    height: 5px;
    background-color: #f4c669;
    border-radius: 50%;
}
.bold-text{
    font-weight: bold;
}
#footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    background-color: var(--main-bg-color);
    margin-top: -10px;
}
.support{
    background-color: yellow;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 700;
    position: absolute;
    
}
.phone-number {
    color: red;
    font-size: 1rem;
    font-weight: bold;
    
}
#footer img{
    /* height: 50px; */
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m-top-10{
    margin-top: 10px;
}
.qr-time p,.last-destination p{
    line-height: 22px;
}
.qr-block+.qr-block{
    margin-bottom: 10px;
}
.qr-block:first-child{
    margin-bottom: 10px;
}